<ion-header>
  <ion-toolbar color="tema">
    <ion-title>Contáctenos</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content color="content">
  <ion-card>
  <ion-list>
    <h1 class="centertext" ><b>Integrantes:</b></h1>
    <img src="../../../assets/imagenes/user1.png" class="im" />
    <h6 class="centertext"> <b>Christian Rivera</b> </h6>
    <h6 class="centertext"><b> Email: criveral2@est.ups.edu.ec</b> </h6>
    <h6 class="centertext"> <b>Telf:  0991748263 </b></h6>
  
    <br>
  </ion-list>
</ion-card>

  <h1 class="cla" ><b>Integrantes:</b></h1>
  <img src="../../../assets/imagenes/user3.png" class="im" />
  <h6 class="cla"> <b>Jonnathan Ochoa</b> </h6>
  <h6 class="cla"> <b>Email: jochoac6@est.ups.edu.ec </b></h6>
  <h6 class="cla"> <b>Telf:  0989420495</b> </h6>

  <br>

  <ion-card>
  <ion-list>

  <h1 class="centertext" ><b>Integrantes:</b></h1>
  <img src="../../../assets/imagenes/user2.png" class="im" />
  <h6 class="centertext"> <b>Pablo Malla</b> </h6>
    <h6 class="centertext"><b> Email: pmalla@est.ups.edu.ec</b> </h6>
    <h6 class="centertext"> <b>Telf:  0968712610 </b></h6>
</ion-list>
</ion-card>


  
 


</ion-content>
