<ion-header>
    <ion-toolbar color="tema">
        <ion-title class=" ion-text-center  ">Login</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding color="tema1">

    <img src="../../assets/imagenes/logo22.png"  class="fondo" />
 
      

    <img src="../../assets/imagenes/l1.png"  class="imagenes"/>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <ion-item>
        <ion-label position="floating ">Correo</ion-label>
        <ion-input type="text" [(ngModel)]="correo" name="usuario "></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="floating ">Contraseña</ion-label>
        <ion-input type="password" [(ngModel)]="contra" name="contra "></ion-input>
    </ion-item>

    <br>
    <br>
    
    <ion-button color="tema" (click)=" onSubmitLogin()" expand="block " >
        
        <ion-icon name="person-circle-outline" style="padding-right: 15px; "></ion-icon> Iniciar Sesion</ion-button>
    

    <div class="referen">
        <span class=" divider line one-line "> or </span>
    </div>
    
    <ion-row>
        <ion-col>
            <ion-button (click)="loginGoogle(correo,contra) " expand="block " color="danger">
                <ion-icon style="padding-right: 15px; " name="logo-google"></ion-icon> Login with Google </ion-button>
              
        </ion-col>
    </ion-row>

    <br>
    <p class="referen" style="text-decoration: underline;" routerLink="/registro"><b>Registrate</b></p>

</ion-content>