<ion-header>
    <ion-toolbar>
        <ion-toolbar color="tema">
            <ion-buttons slot="start">
                <ion-back-button defaultHref="./inicio-empresa"></ion-back-button>
            </ion-buttons>
            <ion-title style="padding-left: 0" class=" ion-text-center ">Empresas</ion-title>
        </ion-toolbar>
    </ion-toolbar>


</ion-header>

<ion-content>

    <div class="content" [ngStyle]=" { 'background-image': 'url(' + photo + ')'} ">
        <div class="contentImg">
            <ion-searchbar color="danger "></ion-searchbar>
        </div>
    </div>
</ion-content>