<ion-header>
  <ion-toolbar color="tema">
    <ion-title>Carrito</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
  </ion-buttons>

  <div slot="end" class="icono ion-activatable repple-parent">
    <ion-ripple-effect>
        
    </ion-ripple-effect>
    <ion-icon (click)="vaciarCarrito()" name="trash-outline" ></ion-icon>
    
    
  </div>
  </ion-toolbar>
</ion-header>

<ion-content>

        
  
    <ion-list *ngFor="let carrito of pedido.productos ">
      
        <ion-item >
            <ion-thumbnail style=" height: 140px; width: 130px; " slot="start" *ngIf="carrito.producto.img " >
                <img [src]="carrito.producto.img">
            </ion-thumbnail>
            <ion-label>
              <ion-label><b>Nombre: </b></ion-label>
                <h5>{{carrito.producto.nombre}}</h5>
                <ion-label><b>Descripcion: </b></ion-label>
                <h5>{{carrito.producto.descripcion}}</h5>
                <h5><b>Costo: </b> </h5>
                <h5>{{carrito.producto.costo}}</h5>
                <h5><b>Cantidad: </b></h5>
                <h5>{{carrito.cantidad}}</h5>
            </ion-label>

          

            </ion-item>

            <ion-item >
              <div class="dimension"> 
                <ion-icon (click)="resCarrito(carrito.producto)"  name="remove-circle-outline"></ion-icon>
        
           
                <ion-icon  (click)="sumCarrito(carrito.producto)" name="add-circle-outline"></ion-icon>


              </div>
  
             
    
        
        
        </ion-item>
      

    </ion-list>

 
</ion-content>

<ion-footer>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col class="normal text-center" size="4">
        <b>Cantidad:</b> {{cantidad}}

      </ion-col>
      <ion-col class="normal text-center" size="3">
        <b>Total:</b> {{total}}$
        
      </ion-col >
    </ion-row>
    <ion-row>
        <ion-col>
          <ion-button expand="full" class="normal" (click)="mapa()" color="dark">
            Escoger Direccion
           </ion-button>
           <ion-button expand="full" class="normal"  (click)="realizarPedido()"   color="dark">
            Pedir
           </ion-button>
        </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
