<ion-header>
    <ion-toolbar color="tema">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>

        <ion-title>Inicio</ion-title>

        

        <div slot="end" class="icono ion-activatable repple-parent">
            <ion-ripple-effect>
                
            </ion-ripple-effect>
            <ion-icon   (click)="carrito()" name="cart-outline"></ion-icon>
            
          
            
          </div>

          <div slot="end" class="icono ion-activatable repple-parent">
            <ion-ripple-effect>
                
            </ion-ripple-effect>
            <ion-icon (click)="salir()" name="log-out"></ion-icon>
            
          
            
          </div>


         

    </ion-toolbar>
</ion-header>



<ion-content  color="content">
    <ion-slides >
      
        <ion-slide>
            
              <div class="slidecontent">
                <img src="../../assets/imagenes/logo23.png" class="fondo"/> 
              </div>
          
        </ion-slide>
  
    </ion-slides>

  

    <h2>
        Categorias
    </h2>
    <ion-slides [options]="opciones" pager="true">
        <ion-slide *ngFor="let catEmp of catEmpresa">


            <ion-card class="card" (click)="redirigir(catEmp.categoriaEuid)">
                <div>
                    <img class="tamano" [src]="catEmp.imagenCat" />
                </div>
                <ion-card-header>
                    <ion-card-title>{{catEmp.nombre}}</ion-card-title>
                </ion-card-header>
            </ion-card>


        </ion-slide>

    </ion-slides>

    <h2>
        Destacados
    </h2>
    <ng-container *ngIf="productos; else elseTemplate">

        <ion-slides [options]="opciones" pager="true">
            <ion-slide *ngFor="let pro of productos " >
    
    
                <ion-card class="card" (click)="redirigir2(pro.uid,pro.uidCategoria)">
                    <div>
                        <img class="tamano" [src]="pro.img" />
                    </div>
                    <ion-card-header>
                        <ion-card-title>{{pro.nombre}}</ion-card-title>
                    </ion-card-header>

                    <ion-label color="dark">
                        <h3 >{{pro.costo}} $</h3>
        
                    </ion-label>
                    
                </ion-card>
    
    
            </ion-slide>
    
        </ion-slides>

         
       </ng-container>
       <ng-template #elseTemplate>
         <h1>Cargando...</h1>
         
       </ng-template>



      


    

</ion-content>


