<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>DeliFast</ion-title>

        <ion-button slot="end">
            <ion-icon name="notifications-outline"></ion-icon>
        </ion-button>

        <ion-button (click)="salir()" slot="end">
            <!-- Advanced: explicity set the icon for each platform -->
            <ion-icon style="margin-right:5px;" name="log-out"></ion-icon>Salir
        </ion-button>

    </ion-toolbar>
</ion-header>



<ion-content>
    <ion-slides pager="true">
        <ion-slide>
            <div class="slidecontent">

            </div>
        </ion-slide>


        <ion-slide>
            <div class="slidecontent">

            </div>
        </ion-slide>


        <ion-slide>
            <div class="slidecontent">
                >
            </div>
        </ion-slide>

    </ion-slides>

    <h2>
        Categorias
    </h2>
    <ion-slides [options]="opciones" pager="true">
        <ion-slide>
            <ion-card>
                <img src="/assets/imagenes/home.png" />
                <ion-card-header>
                    <ion-card-title>Bebidas</ion-card-title>
                </ion-card-header>

            </ion-card>
        </ion-slide>

        <ion-slide>
            <ion-card>
                <img src="/assets/imagenes/home.png" />
                <ion-card-header>
                    <ion-card-title>Comidas</ion-card-title>
                </ion-card-header>

            </ion-card>
        </ion-slide>

        <ion-slide>
            <ion-card>
                <img src="/assets/imagenes/home.png" />
                <ion-card-header>
                    <ion-card-title>Verduras</ion-card-title>
                </ion-card-header>

            </ion-card>
        </ion-slide>

        <ion-slide>
            <ion-card>
                <img src="/assets/imagenes/home.png" />
                <ion-card-header>
                    <ion-card-title>Farmacia</ion-card-title>
                </ion-card-header>

            </ion-card>
        </ion-slide>

    </ion-slides>

    <h2>
        Destacados
    </h2>
    <ion-slides pager="true" [options]="opciones">
        <ion-slide>
            <ion-card>
                <img src="/assets/imagenes/home.png" />
                <ion-card-header>
                    <ion-card-title>Caldo de Pollo</ion-card-title>
                </ion-card-header>

            </ion-card>
        </ion-slide>


        <ion-slide>
            <ion-card>
                <img src="/assets/imagenes/home.png" />
                <ion-card-header>
                    <ion-card-title>Cerveza</ion-card-title>
                </ion-card-header>

            </ion-card>
        </ion-slide>

        <ion-slide>
            <ion-card>
                <img src="/assets/imagenes/home.png" />
                <ion-card-header>
                    <ion-card-title>Lechuga</ion-card-title>
                </ion-card-header>

            </ion-card>
        </ion-slide>




    </ion-slides>

</ion-content>