<ion-header>
  <ion-toolbar color="tema">
    <ion-title>Ética Empresarial</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="content">
  <ion-card>
    <h1 class="center"> <b>Nuestra Misión</b></h1>
  <img src="../../../assets/imagenes/mision.jpg"/>
  <p class="just">Brindar calidad e innovación en nuestros productos, durante las 24 horas del día, buscando siempre la completa satisfacción del cliente.
    Nuestra misión no solo es entregar bellos regalos a domicilio, sino que entendemos nuestro trabajo como un medio de comunicación para trasmitir 
    emociones.</p>

    <h1 class="center"><b>Nuestra Visión</b></h1>
  <img src="../../../assets/imagenes/vision-compartida.jpg"/>
  <p class="just">
    Ser una empresa líder dedicada a la comunicación de mensajes a través de diversos presentes con una calidad de servicio e innovación, ser consolidada y líder en el servicio de delivery de desayunos, arreglos florales, rosas, cupcakes, tortas artísticas y regalos personalizados y más.
  </p>

  <h1 class="center"><b>Objetivos Estratégicos</b></h1>
  <img src="../../../assets/imagenes/objetivos.jpg"/>
  <p>
    Incursionar en Mercados Internacionales.
    
    <br>


Desarrollo y posicionamiento del comercio electrónico
<br>

Ampliar el posicionamiento de la marca a nivel nacional e internacional.
  </p>



  </ion-card>
  


</ion-content>
